<!DOCTYPE html>
<html>
<head>
	<title>Admin login</title>
</head>
<body>
<h1>Admin Login</h1>
<form method="POST" action="/adminlogs">
<label>Username</label>	
<input type="text" name="usrnm">
<br><br>
<label>Password</label>	
<input type="password" name="passwd">
<br><br><br>
<button type="submit">Submit</button>
</form>
</body>
</html>