<!doctype html>
<html lang="zxx">
	
<!-- Mirrored from BTC Masters.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Sep 2020 12:50:21 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>BTC Masters</title>
		<meta name="description" content="BTC Masters.com offers cryptocurrency cloud mining services on modern, high-efficiency equipment.">
		<link rel="icon" href="assets/img/favicon.png">
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/animate.css">
		<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="assets/css/flaticon.css">
		<link rel="stylesheet" type="text/css" href="assets/css/all.css">
		<link rel="stylesheet" href="assets/css/themify-icons.css">
		<link rel="stylesheet" href="assets/css/magnific-popup.css">
		<link rel="stylesheet" href="assets/css/slick.css">
		<link rel="stylesheet" href="assets/css/style.css">
		<link rel="stylesheet" href="assets/css/style2.css">
		<link rel="stylesheet" href="extra/sweetalert.css">
		<!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
		<link href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" rel="stylesheet">
		<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js">
		</script> 
		<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-149353511-1">
		</script> 
		<script async="" src="extra/javaS.js">
		</script>
		<script src="assets/js/jquery-1.12.1.min.js">
		</script>
		<script src="assets/js/bootstrap.min.js">
		</script>
		<script src="assets/js/scripts.js">
		</script>
		<script src="extra/sweetalert.min.js"></script>
	</head>	<body>
	<div style="background:#2b8ac0;color:#fff;height:27px;position:fixed;top:0;width:100%;z-index:1000">
	
</div>
<header class="main_menu" style="position:fixed;top:23px"><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12">
				<nav class="navbar navbar-expand-lg navbar-light">
					<a class="navbar-brand main_logo" href="index.html">
						<img src="assets/img/logo2.png" alt="logo">
					</a>
					<a class="navbar-brand single_page_logo" href="index.html">
						<img src="assets/img/logo2.png" alt="logo">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="">
								Home</a>
							</li>
														<li class="nav-item">
								<a class="nav-link" href="/#plans">
								Plans</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/#last_payouts">
								Payouts</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/#faq">
								FAQ</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/#affiliate">
								Affiliate</a>
							</li>
							
							
													</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
			
</header><span class="fa-stack fa-1x has-badge" data-count="8,888,888">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-bell fa-stack-1x fa-inverse"></i>
			</span>
<style type="text/css">
	.fa-stack[data-count]:after{
	position:absolute;
	right:0%;
	top:1%;
	content: attr(data-count);
	font-size:30%;
	padding:.6em;
	border-radius:999px;
	line-height:.75em;
	color: white;
	background:rgba(255,0,0,.85);
	text-align:center;
	min-width:2em;
	font-weight:bold;
	}
</style>	<script type="text/javascript">
		function purchase(id)
		{
			swal({
				title: "Are you sure?",
				text: "You whant to Purchase Plan!",
				icon: "warning",
				buttons: true,
				dangerMode: true,
			})
			.then((willDelete) => {
				if (willDelete) {
					window.location.href = "/purchase?PlanId="+id;
					} else {
					//swal("Your Order Cancle Successfully!");
				}
			});
		}
		const test = () => {
			swal("Sorry!", "Please First Login your Self", "info")

		}
	</script>
	<section class="banner_part" id="home">
		<div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-5">
					<div class="banner_img d-none d-lg-block">
						<img src="assets/img/banner_img.png" alt="banner">
					</div>
				</div>
				<div class="col-lg-6">
					<div class="banner_text">
						<div class="banner_text_iner">
														<h1>Start Bitcoin Mining Today!</h1>
							<p>
								Start Bitcoin Mining Today! BTC Masters was established in 2020, endeavoring the vast range of possibilities with modern asset management via our mining bitcoin to serve investors for making the best investment holdings and maximize passive income. If you are looking for passive income or want to multiply your bitcoins, do not waste your time and start bitcoin mining today with BTC Masters!Just enter your bitcoin address and get started in minutes!							</p>
							
								<form method="POST" action="/createacc">
								<div class="row">
								<div class="col-md-12">
								<input type="text" name="address" id="go_address" placeholder="Bitcoin address"  required class="single-input" style="height:50px;margin-bottom:20px;border-radius:10px;border:1px solid #e6effb;background:#FFF;" minlength="26" maxlength="35">
								</div>
								<div class="col-md-4">
								<Button class="btn btn-lg btn-info" style="padding:10px 20px;width:100%;text-align:center;cursor:pointer;border-radius:10px" type="submit" name="btnsub" >
								Start Mining</Button>
								</div>
								</div>
								</form>							<div class="col-md-12" style="height:50px">
								<div id="enter_result" style="display: block;">
									<span style="color: #E91E63"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="pricing_part section_padding home_page_pricing" id="plans">
		<div class="section_tittle text-center" style="margin-bottom:0">
			<h2>
			Choose your plan</h2>
			<p style="text-transform:none;">
			Check out our Mining Plans and choose the best option for you. Once your payment is confirmed, you’ll start mining immediately. You can start with Iron plan if you want and upgrade later.</p>
		</div>
		<div class="container">
			<div class="row justify-content-center">
										<div class="col-lg-3 col-sm-6" style="margin-top:30px">
							<div class="single_pricing_part" style="border-radius:10px;border-radius:10px;background-repeat:no-repeat;background-size:120px 105px;background-position-x:100%;">
								<h1 style="font-size:75px;color:#1babfe;"><i class="fas fa-plane"></i> </h1>
								<p>Starter</p>
								<h3>0.002 BTC</h3>
								<ul>
									<li>0.00005 BTC per day</li>
									<li>Period 180 days</li>
									<li>Unlimited quantity</li>
								</ul>
<button class="btn btn-lg btn-success" style="padding:10px 20px;width:100%;text-align:center;cursor:pointer" onclick="test()" >
								Purchase Now</button>
							</div>
							</div>						<div class="col-lg-3 col-sm-6" style="margin-top:30px">
							<div class="single_pricing_part" style="border-radius:10px;border-radius:10px;background-repeat:no-repeat;background-size:120px 105px;background-position-x:100%;">
								<h1 style="font-size:75px;color:#1babfe;"><i class="fas fa-fighter-jet"></i> </h1>
								<p>Student</p>
								<h3>0.015 BTC</h3>
								<ul>
									<li>0.00045 BTC per day</li>
									<li>Period 180 days</li>
									<li>Unlimited quantity</li>
								</ul>
<button class="btn btn-lg btn-success" style="padding:10px 20px;width:100%;text-align:center;cursor:pointer" onclick="test()" >
								Purchase Now</button>
							</div>
							</div>						<div class="col-lg-3 col-sm-6" style="margin-top:30px">
							<div class="single_pricing_part" style="border-radius:10px;border-radius:10px;background-repeat:no-repeat;background-size:120px 105px;background-position-x:100%;">
								<h1 style="font-size:75px;color:#1babfe;"><i class="fas fa-space-shuttle"></i> </h1>
								<p>Master</p>
								<h3>0.05 BTC</h3>
								<ul>
									<li>0.00175 BTC per day</li>
									<li>Period 180 days</li>
									<li>Unlimited quantity</li>
								</ul>
<button class="btn btn-lg btn-success" style="padding:10px 20px;width:100%;text-align:center;cursor:pointer" onclick="test()" >
								Purchase Now</button>
							</div>
							</div>						
		</div>
	</section>
	<section id="last_payouts" class="pt40 pricing-1">
		<div class="section_tittle text-center col-md-12">
			<h2>
			Last Payouts</h2>
			<p style="text-transform:none;">
			This table shows real-time payouts to our customers. Just order Bitcoin mining plan and join to successful people who earned bitcoin on the top of nowadays technology!</p>
		</div>
		<div class="container" style="background:#FFF;padding-top:20px">
			<div class="row">
				<div class="col-md-12 text-center pb20">
					<div id="payouts" style="overflow:auto">
						<table class="table table-striped" id="load-transactions">
							<thead>
								<tr>
									<th>
									Date</th>
									<th>
									Amount</th>
									<th>
									Address</th>
									<th>
									Plan</th>
									<th>
									TXID</th>
								</tr>
							</thead>
							<tbody>
																		<tr>
											<td style="padding:0 10px">
												2 Hours ago											</td>
											<td>0.01353746</td>
											<td>3P3QsMVK89JBNqZQv5zMAKG8FK3kJM4rjt </td>
											<td>Starter</td>
											<td><a href="https://www.blockchain.com/btc/tx/67e9753a89e26170500b0281c778cb0e2a643d992cd3ddb5c5583691bf206625" style="color:#8bc34a">
											67e9753a89e2617</a>
											</td>
										</tr>
																				<tr>
											<td style="padding:0 10px">
												4 Hours ago											</td>
											<td>0.01371061</td>
											<td>32165wtwxdVrwV5WXX2oRD2BAJbJYWwEba</td>
											<td>Free</td>
											<td><a href="https://www.blockchain.com/btc/tx/e927ee3361af19cf314f021ba7903423005971244bbdf337a61ecca6990b681a" style="color:#8bc34a">
											e927ee3361af19c</a>
											</td>
										</tr>
																				<tr>
											<td style="padding:0 10px">
												8 Hours ago											</td>
											<td>0.01211209</td>
											<td>3968fRzDQfT2huGF3AZtaY7QRWzpaCgHNq </td>
											<td>Starter</td>
											<td><a href="https://www.blockchain.com/btc/tx/489598514a730194c20291c7b7813d01238f9c309d419c09efe022e470515e6a" style="color:#8bc34a">
											489598514a73019</a>
											</td>
										</tr>
																				<tr>
											<td style="padding:0 10px">
												19 Hours ago											</td>
											<td>0.01444371</td>
											<td>1F1enFdL6dwhKjH3hjoxMSxENeAHYZgqqM </td>
											<td>Student</td>
											<td><a href="https://www.blockchain.com/btc/tx/da31496bfa301615ebb7024d02c8df69dbd3badf5c04d183f1212d8a70659d93" style="color:#8bc34a">
											da31496bfa30161</a>
											</td>
										</tr>
																				<tr>
											<td style="padding:0 10px">
												21 Hours ago											</td>
											<td>0.00919946</td>
											<td>1KyaCgVdDzJ2kBztsDtpq7kohYhZ4CXekT</td>
											<td>Starter</td>
											<td><a href="https://www.blockchain.com/btc/tx/4bbb9a1e6fd999051d6b6719b5fbcfe078a15fd334b66fb645c40a4869ec95f4" style="color:#8bc34a">
											4bbb9a1e6fd9990</a>
											</td>
										</tr>
																				<tr>
											<td style="padding:0 10px">
												1 Day ago											</td>
											<td>0.01358228</td>
											<td>3Mw4TQx7xTFwgU3RNGzS3nCjcn4kziE3JZ </td>
											<td>Starter</td>
											<td><a href="https://www.blockchain.com/btc/tx/ee7f51e4a95fac5ea6043ae64c541190ca2a93e91492a700a70fb63361b25c2f" style="color:#8bc34a">
											ee7f51e4a95fac5</a>
											</td>
										</tr>
																				<tr>
											<td style="padding:0 10px">
												1 Day ago											</td>
											<td>0.01248648</td>
											<td>1heZxNW7c4A1bQYmNLKvJN1DN8d62jwss </td>
											<td>Free</td>
											<td><a href="https://www.blockchain.com/btc/tx/ac88cad5d83d47451c4ccc24f4a8a2252d559c5e17afe6047d95aa7a55f52e72" style="color:#8bc34a">
											ac88cad5d83d474</a>
											</td>
										</tr>
																				<tr>
											<td style="padding:0 10px">
												1 Day ago											</td>
											<td>0.01544718</td>
											<td>3P1HdS4fk1MXvJ5usenHgoTDEscsKWsJkU</td>
											<td>Master</td>
											<td><a href="https://www.blockchain.com/btc/tx/b9cd44083698b672d44d556abb7982dc0332481101462e75f5fbf472da9a46f5" style="color:#8bc34a">
											b9cd44083698b67</a>
											</td>
										</tr>
																				<tr>
											<td style="padding:0 10px">
												1 Day ago											</td>
											<td>0.01626081</td>
											<td>1HGjq7B9QFvXH7jBssFbJWXqPwrS8MVxa</td>
											<td>Student</td>
											<td><a href="https://www.blockchain.com/btc/tx/20bb332981987ecf1011914a4daa78001f52192eeeeb63d2970ac59318ced138" style="color:#8bc34a">
											20bb332981987ec</a>
											</td>
										</tr>
																				<tr>
											<td style="padding:0 10px">
												2 Day ago											</td>
											<td>0.01679261</td>
											<td>37CEJAqW4dzqGXAiPQgTqWyusxcEypGuNq </td>
											<td>Free</td>
											<td><a href="https://www.blockchain.com/btc/tx/c2cedb695546de2986192749b11a0b2a69a8ead90cc87494da1b83d4b167b28b" style="color:#8bc34a">
											c2cedb695546de2</a>
											</td>
										</tr>
																	</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
					<!--<span class="btn btn-info mr-auto mb50  width100" style="text-align:center;padding:10px 0;border-radius:25px;width:300px;margin:20px calc(50% - 150px)" onclick="go_load_tx()">
						<i class="fas fa-cloud-download-alt"></i>
					View more payouts</span>-->
				</div>
				<div class="col-md-4">
				</div>
			</div>
		</div>
	</section>
	<section id="faq" style="margin-top:40px">
		<div class="section_tittle text-center col-md-12">
			<h2>
			Frequently Asking Questions</h2>
		</div>
		<div class="container" style="padding:0 30px">
			<div class="row align-items-center justify-content-between">
				<div class="w-100" id="accordionFAQ">
					<div>
						<div class="card-header selected">
							<div class="panel-heading">
							1. What is BTC Masters?</div>
							<div class="panel-icon">
								<i class="fa fa-minus"></i>
							</div>
						</div>
						<div class="card-body" style="display:block">
							<p><b>
							BTC Masters</b>
							- is a smart bitcoin cloud mining service developed for affordable bitcoin mining, meanwhile designed to provide frequent mining payouts within the shortest possible timeframe.</p>
						</div>
					</div>
					<div>
						<div class="card-header">
							<div class="panel-heading">
							2. How BTC Masters works?</div>
							<div class="panel-icon">
								<i class="fa fa-plus"></i>
							</div>
						</div>
						<div class="card-body">
							<p>Our company continuously maintains mining bitcoin in the field using hardware and the power from several large data centers around the world to minimize costs of electric power.
								On daily basis our professional analysts manage our assets to convert in into bitcoin on the most profitable price as of Bitcoin is most liquid cryptocurrency at the moment.
							You will be receiving Bitcoin payouts on daily basis depending on plan you purchased.</p>
						</div>
					</div>
					<div>
						<div class="card-header">
							<div class="panel-heading">
							3. How do I get started with BTC Masters?</div>
							<div class="panel-icon">
								<i class="fa fa-plus"></i>
							</div>
						</div>
						<div class="card-body">
							<p>To get started, please enter your bitcoin wallet address and <a href="#" alt="start bitcoin mining">
							start mining</a>
							.
							You don't need any special hardware or software or even to keep your own computer on to do cloud mining, we will do the mining on your behalf.</p>
						</div>
					</div>
					<div>
						<div class="card-header">
							<div class="panel-heading">
							4. How I earn bitcoin with BTC Masters?</div>
							<div class="panel-icon">
								<i class="fa fa-plus"></i>
							</div>
						</div>
						<div class="card-body">
							<p>You are purchasing mining plan and we are mining on your behalf. You will be receiving returns on daily basis depending on amount of your plan.</p>
						</div>
					</div>
					<div>
						<div class="card-header">
							<div class="panel-heading">
							5. How much can I earn without investments?</div>
							<div class="panel-icon">
								<i class="fa fa-plus"></i>
							</div>
						</div>
						<div class="card-body">
							<p>You can generate 
								<b>0.00001000 BTC</b>
								every day without investments. You can also upgrade your plan to generate up to 
								<b>0.01750000 BTC</b>
							every day.</p>
						</div>
					</div>
					<div>
						<div class="card-header">
							<div class="panel-heading">
							6. What are conditions for profit withdrawal?</div>
							<div class="panel-icon">
								<i class="fa fa-plus"></i>
							</div>
						</div>
						<div class="card-body">
							<p>There are <b>
							no conditions</b>
							for withdrawal. You can withdraw bitcoin whenever your balance reaches the minimum withdrawal.</p>
						</div>
					</div>
					<div>
						<div class="card-header">
							<div class="panel-heading">
							7. What is the minimum amount for withdrawal?</div>
							<div class="panel-icon">
								<i class="fa fa-plus"></i>
							</div>
						</div>
						<div class="card-body">
							<p>Minimum withdrawal amount is <b>
							0.002 BTC</b>
							.</p>
						</div>
					</div>
					<div>
						<div class="card-header">
							<div class="panel-heading">
							8. How much can I earn on the affiliate program?</div>
							<div class="panel-icon">
								<i class="fa fa-plus"></i>
							</div>
						</div>
						<div class="card-body">
							<p>You will earn <b>
							10%</b>
							every time your referral gets upgrade.
							are applied to all plans. The total referral commission is <b>
							10%</b>
							</p>
						</div>
					</div>
					<div>
						<div class="card-header">
							<div class="panel-heading">
							9. Are there any registration or maintenance fees??</div>
							<div class="panel-icon">
								<i class="fa fa-plus"></i>
							</div>
						</div>
						<div class="card-body">
							<p>Registration is <b>
							free</b>
							and without any maintenance fees.</p>
						</div>
					</div>
					<div>
						<div class="card-header">
							<div class="panel-heading">
							10. If I pay for an upgrade, how long it will be active?</div>
							<div class="panel-icon">
								<i class="fa fa-plus"></i>
							</div>
						</div>
						<div class="card-body">
							<p>Free plan active forever. Other plans are active and profitable for <b>
							180 days</b>
							. When a plan expires it will return to the Free plan.</p>
						</div>
					</div>
					<div>
						<div class="card-header">
							<div class="panel-heading">
							11. Can I have multiple accounts?</div>
							<div class="panel-icon">
								<i class="fa fa-plus"></i>
							</div>
						</div>
						<div class="card-body">
							<p>You can have only one account.</p>
						</div>
					</div>
					<div>
						<div class="card-header">
							<div class="panel-heading">
							12. Can I upgrade plan with bitcoin on my balance?</div>
							<div class="panel-icon">
								<i class="fa fa-plus"></i>
							</div>
						</div>
						<div class="card-body">
							<p>BTC Masters currently does not support upgrading from internal BTC Masters wallet yet.</p>
						</div>
					</div>
					<div>
						<div class="card-header">
							<div class="panel-heading">
							13. How to contact us?</div>
							<div class="panel-icon">
								<i class="fa fa-plus"></i>
							</div>
						</div>
						<div class="card-body">
							<p>You can contact us via contact page.
							form.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="affiliate" style="margin:40px 0">
		<div class="section_tittle text-center col-md-12">
			<h2>
			Affiliate Program</h2>
			<p class="d-none d-lg-block" style="text-transform:none;">
				The affiliate program consists of 10% commission from deposit of reffered account.<br>
		</div>
		<div class="container" style="padding:0 30px">
			<div class="row align-items-center justify-content-between">
				<div class="col-md-7 col-lg-7 d-lg-block">
					<div class="learning_img" style="text-align:center">
						<img src="assets/img/1.png" style="width:100%;max-width:450px;margin:0 auto" alt="bitcoin referral">
					</div>
				</div>
				<div class="col-md-5 col-lg-5">
					<div class="about_us_text">
						<p></p>
						<ul class="fa-ul">
							<h4 style="color:black;">
							Our affiliate program includes many benefits</h4>
							<li><span class="fa-li">
								<i class="fas fa-check" style="color:green"></i>
							</span>
							You don`t even need to have your own deposit to enjoy benefits of affiliate program.</li>
							<li><span class="fa-li">
								<i class="fas fa-check" style="color:green"></i>
							</span>
							You will be credited <b>
							10%</b>
							from each your referral purchased plan.</li>
							<!--<li><span class="fa-li">
								<i class="fas fa-check" style="color:green"></i>
								</span>
								You will be rewarded <b>
								1 - 20 lucky spins</b>
							from each your referral purchased plan.</li>-->
							<li><span class="fa-li">
								<i class="fas fa-check" style="color:green"></i>
							</span>
							We pay out the affiliate reward instantly in the Bitcoin. Commission is credited to the account balance.</li>
							<li><span class="fa-li">
								<i class="fas fa-check" style="color:green"></i>
							</span>
							With unlimited referrals your earning potential is endless</li>
						</ul>
						<p></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer_part">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div style="text-align:center">
						<p style="color:#343a40">
							Copyright ©<script>
								var dt = new Date();
								document.write(dt.getFullYear());
							</script>
						BTC Masters | Bitcoin Cloud Mining. All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>

<!-- Mirrored from BTC Masters.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Sep 2020 12:50:46 GMT -->
</html>			